<ul>
  <li><%= link_to 'New repository', polymorphic_path([@owner, :repository], :action => :new) %></li>
  <li><%= link_to 'Edit repository', polymorphic_path([@owner, :repository], :action => :edit) %></li>
  <li><%= link_to 'Delete repository', polymorphic_path([@owner, :repository]), :method => :destroy, :confirm => 'Delete repository?' %></li>
</ul>
